.container-1{
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        width: 75%;
        margin: auto;
      }

  .mainHeader{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
    

.Cimg{
    height: 50px;
}

.cat{
  text-decoration: none;
}
.item{
  margin-top: 20px;
  width: 150px;
  margin-bottom: 75px;
}
h3{
  margin-left: 185px;
  margin-bottom: 20px;
}