.buyBtton{
    background-color: aqua;
    width: 80px;
    border-radius: 25px;
    height: 30px;
}


.buynow{
    text-decoration: none;
    margin-left: 8px;
    margin-bottom:20px;
    padding-top: 10px;
    
}